ion-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  --min-height: 88px;
  margin-bottom: 0.5rem;
}

ion-label[position="stacked"] {
  margin-bottom: 4px;
  min-height: 1.5em;
  color: #000000;
  opacity: 1;
  font-size: 0.875rem;
}

.error-message {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
  margin: 0 0 0.75rem 0;
  padding-left: 4px;
}
