<ion-item>
  <ion-label position="stacked">{{ label }}</ion-label>
  <ion-input
    [type]="showPassword() ? 'text' : 'password'"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="disabled"
    (ionInput)="onInput($event)"
    (ionBlur)="onBlur()"
    required>
  </ion-input>
  <ion-button
    fill="clear"
    slot="end"
    (click)="toggleVisibility()"
    type="button"
    aria-label="Toggle password visibility">
    <ion-icon [name]="showPassword() ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
  </ion-button>
</ion-item>
@if (invalid) {
  <div class="error-message">
    @if (errorRequired) {
      <span>Password is required</span>
    }
    @if (errorMinLength && !errorRequired) {
      <span>Password must be at least {{ minLength }} characters</span>
    }
  </div>
}
